{% extends 'layout.html' %}
{% block content %}

<section>
    <div class="card w-100">
        <div class="card-body">Clientes</div>
        <table class="table table-striped table-bordered w-100">
            <tbody>
                {% for cliente in customers_list %}
                <tr>
                    <td>{{ cliente.first_name }}</td>
                    <td>{{ cliente.last_name }}</td>
                    <td>{{ cliente.address }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}